legend {
	padding: .7em;
	background-color: blueviolet;
	color: white;
	border-radius: 20px;
}

form {
	font-size: 1.3em;
}

form fieldset div {
	display: flex;
	flex-direction: column;
}

form label {
	margin-bottom: .7em;
	margin-top: .7em;

}

form input {
	padding: .5em;
	border-radius: 10px;
}

form button {
	font-size: 1em;
	margin-top: .7em;
	padding: 1em;
	border-radius: 30px;
	background-color: greenyellow;
}
